# Dataset and extracted images
data/



# Python compiled files
__pycache__/
*.pyc

# Local environments
.env
venv/
env/
.venv/

# IDE/OS files
.DS_Store
.vscode/
.idea/

# Streamlit specific
.streamlit/
